<div class="container__home">
  <app-card
  gameImage="assets/ac-cover.jpg"
  gameLabel="Standart Edition"
  gameType="PC | PS4 | PS5"
  gameCall="Assassin's Creed"
  gameValue="R$ 59,99"  
  ></app-card>

  <app-card
  gameImage="assets/bt-1.jpg"
  gameLabel="Exclusivo"
  gameType="PC | PS3 | PS4"
  gameCall="Battlefield I"
  gameValue="R$ 39,90"  
  ></app-card>

  <app-card
  gameImage="assets/bt-4.jpg"
  gameLabel="Agora"
  gameType="PC | PS3 | PS4"
  gameCall="Battlefield IV"
  gameValue="R$ 49,90"  
  ></app-card>

  <app-card
  gameImage="assets/bt-5.jpg"
  gameLabel="Promoção"
  gameType="PC | PS4"
  gameCall="Battlefield V"
  gameValue="R$ 37,90"  
  ></app-card>

  <app-card
  gameImage="assets/bt-bad-company-2.jpg"
  gameLabel="Promoção"
  gameType="PC | PS4"
  gameCall="Battlefield Bad Companion 2"
  gameValue="R$ 125,00"  
  ></app-card>

  <app-card
  gameImage="assets/bt-hardline.jpg"
  gameLabel="Promoção"
  gameType="PC | PS4"
  gameCall="Battlefield Hardline"
  gameValue="R$ 49,90"  
  ></app-card>
</div>
